<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/info.css">
    <title>Pagina</title>
</head>
<body>
    <header class="header">
        <div class="logo__container grid_container">
            <img src="/images/logo.svg" alt="roge's logo">
        </div>
    </header>
    <main>
        <div class="grid_container">
            <article class="article">
                <h1 class="article__title">GTA 6 gameplay leaks online in 90 videos</h1>
                <div class="article__img">
                    <img src="/images/gta6.webp" alt="gta 6 leak image">
                </div>
                <div class="article__body">
                    <p>
                        Footage of Grand Theft Auto VI, Rockstar’s next entry in its open-world franchise, has leaked online. PC Gamer reports that a user on the GTA Forums has posted a 3GB file full of 90 videos of GTA VI footage. It’s not exactly clear how the footage was obtained, but the “teapotuberhacker” poster claims to be behind the unrelated Uber hack late last week, and says they may “leak more data soon” including GTA V and GTA VI source code, assets, and testing builds.
                    </p>
                    <p>
                        The massive leak lines up with some earlier reporting on GTA VI, showing a female playable character in some clips. Bloomberg reported earlier this year that GTA VI would include a female protagonist influenced by Bonnie and Clyde. Bloomberg reporter Jason Schreier says he has verified the leak is real through sources at Rockstar Games.
    
                    </p>
                </div>
            </article>
        </div>
    </main>
    <footer></footer>
</body>
</html>